p {
    color: red;
}
span{
    color: blue;
}
img{
    width: 200px;
    height: 200px;
}
.reng-1{
    color: yellow;
}
.reng-2{
    color: blueviolet;
}
#clr-1{
    color: aqua;
}
#clr-2{
    color: lime;
}
